<div *ngIf="!questions">
    Loading...
</div>

<div *ngIf="questions">
    <form (submit)="postQuestion()" #newQuestionForm="ngForm">

        <div class="form-group">
            <input type="text" placeholder="text" class="form-control"
                   ngModel name="text">
        </div>

        <div class="form-group">
            <select type="text" placeholder="type" class="form-control"
                    ngModel name="type">
                <option value="radio">Radio</option>
                <option value="textArea">textArea</option>
                <option value="checkBox">Radio</option>
            </select>
        </div>

        <div *ngIf="newQuestionForm.value['type']!=='textArea'">
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        *ngFor="let option of options"
                        (click)="removeOption(option)">{{option}}</button>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add option"
                           ngModel name="option">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                            (click)="addOption()">Add</button>
                </span>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Add Question</button>
    </form>
    <hr class="invisible">
    <div *ngIf="questions.length === 0">
        No questions added for section
    </div>
    <div *ngIf="questions.length">
        <div *ngFor="let question of questions; let index = index" class="panel panel-default">
            <div class="panel-body">
                <h3>{{index}}. {{question.text}}</h3>
                <h4>{{question.type}}</h4>
            </div>
            <div class="panel-footer" *ngIf="question.options.length">
                <h5>Options:</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-default"
                            *ngFor="let option of question.options">{{option}}</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
