<div *ngIf="!activeSection">
    Select a section to manage its questions and sub-sections.
</div>

<div *ngIf="activeSection">
    <h3><b>{{activeSection.name}}</b></h3>
    <hr class="invisible">
    <h5>Sub-sections</h5>
    <hr>
    <p *ngIf="activeSection.children.length === 0">No sub sections for {{activeSection.name}}</p>
    <form (submit)="addSection()" #newSectionForm="ngForm">
        <div class="btn-group">
            <button *ngFor="let section of activeSection.children" type="button" class="btn btn-default">
                {{section.name}}
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default btn-form-control">
                <input type="text" placeholder="Enter Section name"
                       ngModel name="name"
                       required>
            </button>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </form>
    <hr class="invisible">
    <h5>Questions</h5>
    <hr>
    <app-manage-questions [section_id]="activeSection_id"></app-manage-questions>
</div>
